# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg
pip-wheel-metadata/
share/python-wheels/
*.dist-info/

# Virtual environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Pytest / coverage
.pytest_cache/
.cache
htmlcov/
.coverage
.coverage.*
coverage.xml
*.cover
nosetests.xml
test-results/

# Test / profiling outputs
.prof
.profiler

# MyPy, Pyre, and similar caches
.mypy_cache/
.pyre/

# Jupyter
.ipynb_checkpoints
*.ipynb

# IDEs and editors
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# Misc
*.log
*.sqlite3
*.db
*.pot
*.mo
*.pyc
